caption {
  display: none;
}

.content {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.buttons {
  display: flex;
  width: 19em;
  margin-bottom: 0.5em;
  button {
    margin-right: 0.2em;
  }
}

table {
  border: 0.1em solid #aaa;
  border-collapse: collapse;
}

thead {
  background: #aaa;
}

td,
th {
  border: none;
  margin: 0;
  padding: 0.5em;
}

tbody tr:nth-child(even) {
  background: #eee;
}

.price {
  text-align: right;
}
.qty {
  text-align: right;
}

tbody tr {
  cursor: pointer;
}

tbody tr.selected {
  background: #ddd;
}
