<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil neque dolore
    esse fugiat, deleniti mollitia corporis error nesciunt! Praesentium, itaque
    animi asperiores eum beatae dolore sed voluptatum assumenda hic sequi!
  </p>
</main>
